<h3> Enter your comment here.</h3>

<%= form_for([post, new_comment]) do |f| %>
  <p>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </p>

  <!-- no need for dropdown menu to select post because can only comment on selected post -->

  <%= f.submit %>
<% end %>
