<h2>Blog posts</h2>
<h3>You are viewing all (<%= posts.length %>) posts</h3>


  <% posts.each do |post| %>
<li>
    <%= post.id %>.
    <a href= "/posts/<%= post.id %>"><%= post.title %></a>
</li>
  <% end %>





