

<h2><%= single_post.title %></h2>
<p><%= single_post.body %></p>
<p> Comments:
    <% single_post.comments.each do |comment| %>
    <%= comment.message %>
    <% end %>
</p>




<p>This post has been published: <%=single_post.published %></p>

